.nbdc-page {
    position: relative;

    &__content {
        padding: 2rem 0.75rem 0;
        margin: 0 auto 2.5rem;
        max-width: 48rem;
    
        h2, h3, h4 {
            margin-bottom: 1.5rem;
        }
    
        ul, ol {
            margin-bottom: 1.5rem;
            padding-left: 0;
    
            li {
                list-style-type: disc;
                margin-left: 1rem;
                font-size: $medium;
                line-height: 1.4;
            }
        }
    
        ol li {
            list-style-type: decimal;
        }
    
        p {
            @include font-secondary($medium, 300);
            margin-bottom: 1.5rem;
            line-height: 1.4;
    
            &:last-child {
                margin-bottom: 0;
            }
            
        }
    
        figure img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            max-width: 120%;
        }

        & > header {
            text-align: center;
            margin: 1rem 0 2rem;

            h1 {
                @include font-primary($base, 600);
                font-size: 2rem;
            }
        }
    }
}