.nbd-blog {
    &__article {
        margin-bottom: .5rem;

        @include for-tablet {
            margin-bottom: 1rem;
        }

        a {
            display: block;
        }
        img {
            width: 100%;
        }

        h2 {
            @include font-primary($small, 300);

            @include for-tablet {
                @include font-primary($regular, 300);
            }
        }
    }
}