.nbd.woocommerce-checkout {
    .woocommerce {
        max-width: 80rem;
        margin: 0 auto;
        padding: 2.5rem .75rem;
    }

    form.woocommerce-checkout {
        display: flex;
        flex-wrap: wrap;

        p label, span, .woocommerce-info,
        .woocommerce-privacy-policy-text,
        .nbd-checkout__order-total, .product-name {
            @include font-primary($base, 400);
        }

        .product-name {
            gap: 1.5rem
        }

        #place_order {
            @include button;
            width: max-content;
        }

        .cart-subtotal span, .nbd-checkout__shipping label {
            font-weight: 300;
        }

        .checkout_coupon, .nbd-checkout__price {
            width: 53%;
        }

        .checkout_coupon {
            justify-content: flex-start;
    
            p:first-child {
                width: 100%;
            }

            .form-row-first {
                margin-right: 1.5rem;
            }

            .form-row-last {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 112px;
                height: 2.5rem;
            }
    
            .checkout_coupon_btn {
                @include borderButton;
                font-family: 'Times New Roman', Times, serif;
                margin-top: 0;
            }
        }

        .cart-subtotal, .nbd-checkout__shipping, .order-total {
            display: flex;
            justify-content: space-between;
        }
        .woocommerce-checkout-review-order {
            display: flex;
            align-items: flex-end;
        }
    }

    .shop_table, #customer_details, 
    .nbd-checkout__order-total, #order_review {
        width: 50%;
    }

    h3 {
        @include font-primary($large, 600);
    }

    .woocommerce-billing-fields__field-wrapper,
    .woocommerce-shipping-fields__field-wrapper,
    .woocommerce-additional-fields__field-wrapper,
    .woocommerce-form-coupon {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        p {
            position: relative;
            display: flex;
            flex-direction: column;
            margin: .75rem 0;

            label {
                margin-bottom: .75rem;

                abbr {
                    text-decoration: none;
                }
            }

            &#billing_country_field,
            &#billing_state_field {
                margin-top: 0;
            }
        }

        input {
            padding: 10px 10px 5px 5px;
            display: block;
            width: 100%;
            border: none;
            outline: none;
            border-bottom: 1px solid #000;
            color: #000;
            opacity: 0.7;
            transition: 0.2s ease;
        }

        input:focus {
            outline: none;
            opacity: 1;
        }

        label {
            position: absolute;
            color: #000;
            font-size: $base;
            font-weight: 500;
            font-family: inherit;
            left: 5px;
            top: 8px;
            opacity: 0.5;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }

        .has-value {
            top: -10px !important;
            font-size: 12px !important;
            color: #000 !important;
        }
    
        select,
        textarea,
        input[type="text"],
        input[type="number"],
        input[type="email"],
        input[type="search"],
        input[type="tel"] {
            border-top: none;
            border-right: none;
            border-left: none;
            border-radius: 0;
            font-size: $base;
            font-family: inherit;
            border-color: $mediumGrey;
            background-color: transparent;
        }
    
        #billing_country_field, #billing_state_field,
        #shipping_country_field, #shipping_state_field {
            label {
                position: relative;
                font-size: .75rem;
            }
        }
    }

    .woocommerce-form__label-for-checkbox{
        position: relative;
        display: flex;
        column-gap: .75rem;
        margin-top: .75rem;
    }

    #billing_first_name_field, #billing_last_name_field,
    #billing_address_1_field, #billing_address_2_field,
    #billing_phone_field, #billing_email_field,
    #shipping_first_name_field, #shipping_last_name_field,
    #shipping_address_1_field, #shipping_address_2,
    #billing_city_field, #shipping_city_field,
    #billing_postcode_field, #shipping_postcode_field {
        width: calc(50% - .75rem);
    }

    #billing_state_field, #billing_country_field,
    #shipping_state_field, #shipping_country_field,
    #order_comments_field {
        width: 100%;
    }

    #break-field_field {
        visibility: hidden;
    }

    .select2-selection {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    }

    .select2-dropdown {
    border-top: 1px solid $mediumGrey;
    }

    .select2-selection__rendered {
    color: $mediumGrey;
    }

    .select2-search__field {
    background-image: url(icons/search.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left;
    padding-left: 25px;
    }
}

.nbd-checkout {
    &__order-review {
        .product-name {
            display: flex;
            align-items: center;
        }
    }

    &__cart-items {
        width: 75%;
        max-height: 377px;
        margin: 1.5rem 0;
        overflow-y: auto;
    }

    &__price {
        margin-top: 1rem;
    }

    &__shipping {
        border-bottom: 1px solid $grey;
        padding-bottom: .75rem;
        margin-bottom: .75rem;
    }
}