.nbdc-footer {
    background-color: #f2f2f2;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 22rem;
        padding: 2.5rem .75rem ;
        margin: 0 auto;
        gap: 2.5rem;

        @include for-tablet-landscape {
            flex-direction: row;
            align-items: unset;
            max-width: 80rem;
            gap: 1.5rem;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @include for-tablet-landscape {
            justify-content: unset;
            width: auto;
            gap: 3rem;
        }

        &--items {
            a {
                font-size: $regular;
            }
        }
    }

    h2, &__connect--socials ul {
        margin-bottom: .75rem;

        @include for-tablet-landscape {
            margin-bottom: .5rem;
        }
    }

    &__offer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2.5rem;

        @include for-tablet-landscape {
            padding: 0 2.5rem;
            border-right: 2px solid #ddd;
            border-left: 2px solid #ddd;
        }

        @include for-desktop {
            padding: 0 5rem;
        }

        h2 {
            @include font-primary($large, 600);
        }

        p {
            @include font-primary($regular, 300);
        }
    }

    &__payment-methods {
        display: flex;
        gap: .25rem;

        li {
            display: flex;
        }
    }

    &__connect {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include for-tablet-landscape {
            align-items: flex-end;
        }

        h2 {
            @include font-primary($large, 300);
        }

        &--socials {
            
            ul {
                display: flex;
                justify-content: center;

                @include for-tablet-landscape {
                    justify-content: flex-end;
                }
            }
        }
    }

    &__copyright {
        display: flex;
        justify-content: center;
        padding: .5rem;
        @include font-primary($small, 300);
        text-transform: uppercase;
        background-color: #fff;
    }

    &__back-to-top {
        display: flex;
        justify-content: center;
        padding: .5rem 0;
        background-color: #fff;

        p {
            @include font-primary($base, 500);
            text-transform: uppercase;
            cursor: pointer;

            span svg {
                position: relative;
                vertical-align: bottom;

            }

            &:hover span svg {
                animation: moveUpAndBack 2s ease infinite;
            }

            @keyframes moveUpAndBack {
                0%, 100% {
                    transform: translateY(0);
                }
                50% {
                    transform: translateY(-.25rem);
                }
            }
        }
    }
}