.nbd-header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: .75rem;
    z-index: 9999;

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -53%);
        min-width: 174px;
    }

    nav .menu a {
        font-size: .85rem;
        font-weight: 500;
    }

    &__menu-right {
        display: flex;
        align-items: center;
        column-gap: 1.5rem;

        ul {
            display: none;

            @include for-tablet-landscape {
                display: block;
            }
        }

        &--icons {
            display: flex;
            column-gap: 1.5rem;
            position: relative;
            align-items: center;
            top: 2px;


            .nbd-search__btn svg {
                position: relative;
                top: 1px;
            }
        }
    }

    &__menu-left {
        display: none;

        @include for-tablet-landscape {
            display: block;
        }
    }

    &__mobile {
        &--btn {
            display: block;
            background-color: transparent;
            border: 0;
            padding: 0;

            @include for-tablet-landscape {
                display: none;
            }
        }
        .slide-out-panel-container.open {
            width: 86% !important;
        }
    }

    &__menu-right,
    &__menu-left {
        ul.menu {
            @include for-tablet-landscape {
                display: flex;
                column-gap: 1.5rem;
                padding: 0;
                margin: 0;
            }
    
            li {
                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    position: relative;
                    padding: 0 0 .2rem;
    
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 0.1rem;
                        background-color: hotpink;
                        opacity: 0;
                        transition: opacity 300ms, transform 300ms;
                    }
                    &:hover::after,
                    &:focus::after {
                    opacity: 1;
                    transform: translate3d(0, 0.05rem, 0);
                    }
                }
            }
        }
    }

    h2 {
        @include font-primary(2rem, 700);
        text-transform: uppercase;
        line-height: .9;
        text-decoration: underline;
    }
}