.nbd-product-card {
    @include tablet-landscape {
        &:hover {
            .nbd-product-card__image img {
        
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: block;
                }
            }
    
            .nbd-product-card__link {
                display: none;
            }
            .nbd-product-card__quick-add {
                display: flex;
            }
        }
    }

    &__image {
        display: block;
        img {
            width: 100%;

            &:last-child {
                display: none;
            }
        }
    }
    &__info {
        min-height: 74px;

        h2 {
            @include font-primary($regular, 300);
        }

        .amount {
            @include font-primary($base, 600)
        }
    }
    &__quick-add {
        display: none;
        gap: .75rem;
        height: inherit;
        justify-content: center;
        padding-top: .75rem;
    }
}