.nbdc-single-product {
    padding: 0 .75rem;
    
    &__container {
        display: flex;
        flex-wrap: wrap;

        .nbdc-single-product__carousel, .entry-summary {
            width: 100%;

            @include tablet-landscape {
                width: 50%;
            }
        }
    }

    &__carousel {
        position: relative;
    }

    .slick-list {
        max-height: 700px;
    }

    .slick-dots {
        margin-top: 2.5rem
    }

    &__slide {
        max-height: 700px;

        img {
            display: block;
            margin: 0 auto;
            height: 100%;
            object-fit: cover;
            max-width: 100%;

            @include desktop-large {
                max-width: 700px;
            }
        }
    }

    .onsale {
        display: none;
    }

    .entry-summary {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        max-width: 420px;
        margin: 1.5rem auto 2.5rem;
    }
    .variations_form.cart {
        width: 100%;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        padding-bottom: 1rem;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid #000;

        h1 {
            @include font-primary($large, 600);
        }
    }

    .woocommerce-Price-amount {
        @include font-primary($regular, 300);
    }

    &__variations {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            @include font-primary($regular, 300);
        }

        ul {
            display: flex;
            gap: .75rem;
            margin-top: 5px;

            li {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2.5rem;
                height: 2.5rem;

                div {
                    @include borderButton;
                }

                span {
                    @include font-secondary($large, 700);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 1.45rem;
                    min-height: 1.45rem;
                    font-size: .75rem;
                }
            }
        }
    }

    .quantity, .product_meta, .variations {
        display: none !important;
    }

    .related, .up-sells {
        padding: 0 .75rem 2.5rem;
        width: 100%;

        h2 {
            @include font-primary($large, 600);
        }

        ul.products {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .75rem;
            @include tablet-landscape {
                flex-direction: row;
            }

            li {
                .add_to_cart_button {
                    display: none;
                }
            }
        }
    }

    .nbdc-add-to-cart__button {
        @include button;

        &.disabled {
            color: #000;
            background-color: #f2f2f2;

            &:hover {
                transform: scale(1);
                cursor: not-allowed;
            }
        }
    }

    .single_add_to_cart_button {
        display: none;
    }

    .nbdc-carousel {
        &__arrow-left, &__arrow-right {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        &__arrow-left {
            left: 0;
        }

        &__arrow-right {
            right: -0.75rem;
        }
    }
}