.nbd-variation {
    button {
        position: relative;
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
        }
    }
}

.nbd-section {
    padding: 0 .75rem;
    margin: .75rem 0;
}

.nbd-four-column-products {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: .75rem;
    @include for-tablet-landscape {
        grid-template-columns: repeat(4,1fr);
    }
}

.nbd-svg {
    display: none;
}