@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@mixin font-primary($size: $base, $weight: 300) {
    font-family: 'Oswald', sans-serif;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: 1px;
}

$x-small: .65rem;
$small: .875rem;
$base: 1rem;
$regular: 1.125rem;
$medium: 1.25rem;
$large: 1.5rem;

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    @include font-primary($large, 600);
}

a {
    @include font-primary($base, 400);
    color: #000;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}